$color_1: #212529;
$color_2: #ffffff;
$color_3: #c28c87;
$color_4: #fff;
$color_5: var(--dark-grayish-blue);
$color_6: var(--grayish-blue);
$color_7: #c6c6c6;
$color_8: #5e5d5d;
$color_9: var(--colorTextos);
$color_10: #f3213d;
$color_11: #cf562b;
$font-family_1: 'Raleway' , sans-serif;
$font-family_2: 'Bai Jamjuree', sans-serif;
$font-family_3: 'Roboto';
$background-color_1: var(--strong-cyan);
$background-color_2: var(--light-blue);
